.chat {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  background-color: var(--primaryColor);
  border: 0.1em solid var(--secondaryColor);
}
.sidebar {
  height: 100%;
  flex: 0.2;
  padding: 1em;
}
.title {
  font-size: 1em;
}
.main {
  height: 100%;
  flex: 0.8;
}
.header {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 0.2em solid var(--secondaryColor);
}
.users > * {
  margin-bottom: 0.75em;
  color: var(--backgroundColor);
  font-size: 0.833em;
}
.onlineUsers > * {
  margin-bottom: 0.75em;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.mainHeader {
  width: 100%;
  /* height: 10vh; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: var(--secondaryColor);
  border-bottom: 0.2em solid var(--primaryColor);
}
.headerTitle {
  color: var(--primaryColor);
}
.messageContainer {
  width: 100%;
  background-color: var(--secondaryColor);
  padding: 1em 0;
  overflow-y: scroll;
}

.messageContainer > * {
  margin-bottom: 0.75em;
}
.footer {
  padding: 0.75em 0;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 0.8em;
  outline: none;
  padding: 1em;
}

.messageRecipient {
  background-color: var(--backgroundColorSecond);
  width: 15em;
  padding: 0.4em;
  border-radius: 0.4em;
}
.messageSender {
  background-color: var(--backgroundColor);
  max-width: 15em;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-left: auto;
}
.messageChats > p {
  font-size: 0.8em;
}
.senderName {
  text-align: right;
  color: var(--primaryColor);
}
.messageStatus {
  position: fixed;
  bottom: 3em;
  font-size: 0.75em;
  font-style: italic;
}
